@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-voilet: hsl(263, 55%, 52%);
    --color-voilet-light: hsla(263, 31%, 67%, 0.7);

    --color-gray-blue: hsl(217, 19%, 35%);
    --color-gray-blue-op-70: hsl(217, 19%, 35%, 0.7);
    --color-dark-blue: hsl(219, 29%, 14%);

    --color-white: hsl(0, 0%, 100%);
    --color-light-gray: hsl(0, 0%, 81%);
    --color-light-gray-blue: hsla(210, 46%, 95%);
    --color-light-gray-blue-op-70: hsla(210, 46%, 95%, 0.7);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-light-gray-blue);
    height: 100vh;
}

.container {
    display: grid;
    gap: 1rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-family: 'Barlow Semi Condensed', Arial, Helvetica, sans-serif;
}

.card {
    border-radius: 5px;
    padding: 1.7rem;
    color: var(--color-white);
}

img {
    float: left;
    border-radius: 50%;
    width: 2rem;
    margin: 0 auto;
    margin-right: 1rem;
}

.name {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--color-light-gray-blue);
}

.verified {
    font-size: 0.7rem;
    color: var(--color-light-gray-blue-op-70);
}

.intro, .discription {
    margin-top: 1rem;
}

.intro {
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--color-light-gray-blue);
}

.discription {
    font-size: 0.813rem;
    color: var(--color-light-gray-blue-op-70);
}

/* Induvidual card styling */

.daniel {
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 90% 0%;
    background-color: var(--color-voilet);
}

.daniel img {
    border: 2px solid var(--color-voilet-light);
}

.jonathan {
    background-color: var(--color-gray-blue);
}


.jeanette, .kira {
    background-color: var(--color-white);
}

.jeanette .intro, .kira .intro, .jeanette .name, .kira .name {
    color: var(--color-gray-blue);
}

.jeanette .discription, .kira .discription, .jeanette .verified, .kira .verified {
    color: var(--color-gray-blue-op-70);
}

.patrick {
    background-color: var(--color-dark-blue);
}

.patrick img {
    border: 2px solid var(--color-voilet);
}

/* End of individual card styling */

.attribution {
    font-family: Barlow Semi Condensed, Arial, Helvetica, sans-serif;
    text-align: center;
}

.attribution a {
    text-decoration: none;
    color: var(--color-voilet);
}

.attribution a:hover {
    color: rgb(235, 156, 169);
    text-decoration: underline;
}

@media (min-width: 850px) {

    .container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .daniel {
        grid-column: span 2;
    }
    
    .kira {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 4;
    }

    .patrick {
        grid-column: span 2;
    }

}





